<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReceiverEmail" value="e.khomasuridzemails@yahoo.com"/>
		<add key="ReceiverPassword" value="npllroblkvapkieg"/>
        
		<add key="SenderEmail" value="e.khomasuridzemails@yahoo.com"/>
		<add key="SenderPassword" value="npllroblkvapkieg"/>
        
		<add key="POPMailServerHostName" value="pop.mail.yahoo.com"/>
		<add key="POPMailServerSSL" value="true"/>
		<add key="POPMailServerPort" value="995"/>
        
		<add key="SMTPMailServerHostName" value="smtp.mail.yahoo.com"/>
		<add key="SMTPMailServerSSL" value="true"/>
		<add key="SMTPMailServerPort" value="465"/>
        
		<add key="SaveFileAddress" value="C:\Users\erekl\OneDrive\Desktop\ReceivedAttachments"/>
        <add key="SendAuctionFileAddress" value="C:\Users\erekl\OneDrive\Desktop\Auction"/>
        <add key="SendTPSFileAddress" value="C:\Users\erekl\OneDrive\Desktop\TPS"/>
        
        
        <add key="TempForAuctionPath" value="C:\Users\erekl\source\repos\S4syka\ExcelConverterProject\ExcelBuilder\Templates\TemplateForAuction.xlsx"/>
        <add key="TempForTPSPath" value="C:\Users\erekl\source\repos\S4syka\ExcelConverterProject\ExcelBuilder\Templates\Temp2.xlsm"/>

        <add key="DateTimePattern" value="yyyy-MM-dd"/>
    </appSettings>
    
    <connectionStrings>
        <add name="Database" connectionString="server = CEMIGOGO; database = ExcelConverterProject; integrated security = true"/>
    </connectionStrings>
</configuration>