<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ReceiverEmail" value="e.khomasuridzemails@yahoo.com"/>
		<add key="ReceiverPassword" value="npllroblkvapkieg"/>
        
		<add key="SenderEmail" value="e.khomasuridzemails@yahoo.com"/>
		<add key="SenderPassword" value="npllroblkvapkieg"/>
        
		<add key="POPMailServerHostName" value="pop.mail.yahoo.com"/>
		<add key="POPMailServerSSL" value="true"/>
		<add key="POPMailServerPort" value="995"/>
        
		<add key="SMTPMailServerHostName" value="smtp.mail.yahoo.com"/>
		<add key="SMTPMailServerSSL" value="true"/>
		<add key="SMTPMailServerPort" value="465"/>
        
		<add key="SaveFileAddress" value="D:\ReceivedAttachments"/>
        <add key="SendAuctionFileAddress" value="D:\Auction"/>
        <add key="SendTPSFileAddress" value="D:\TPS"/>

        <add key="DateTimePattern" value="yyyy-MM-dd"/>
  </appSettings>
</configuration>